name: Playwright Tests

on:
  push:
    branches: [ main ]

jobs:
  playwright:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Instalar dependências
        run: npm install

      - name: Rodar testes Playwright
        run: npx playwright test
